<form class="actor-sheet {{cssClass}}" autocomplete="off">
    <header class="sheet-header">
    </header>

    <section class="border">
        <h3 class="sectionHeader">Section A: General Information</h3>
        <div class="flexrow">
            <div class="flexcol">
                <div class="flexrow">
                    <div class="info fullgrey">
                        <label class="info">Code Name:</label>
                    </div>
                    <input class="info" type="text" name="name" value="{{actor.name}}" data-dtype="String">
                </div>
                <div class="flexrow">
                    <div class="info fullgrey">
                        <label class="info">Legal Name:</label>
                    </div>
                    <input class="info" type="text" name="system.legalName" value="{{actor.system.legalName}}" data-dtype="String">
                </div>
                <div class="flexrow">
                    <div class="info fullgrey">
                        <label class="info">Pronouns:</label>
                    </div>
                    <input class="info" type="text" name="system.pronouns" value="{{actor.system.pronouns}}" data-dtype="String">
                </div>
                <div class="flexrow">
                    <div class="info fullgrey">
                        <label class="info">Power Setting:</label>
                    </div>
                    <select class="info" name="system.powerSetting.value" data-dtype="Number">
                        {{#select actor.system.powerSetting.value}}
                        <option value="1">Low</option>
                        <option value="2">Medium</option>
                        <option value="3">High</option>
                        <option value="4">Godly</option>
                        {{/select}}
                    </select>
                </div>
            </div>
            <div class="flexcol">
                <div class="flexrow">
                    <div class="info fullgrey">
                        <label class="info">Level:</label>
                    </div>
                    <input class="info" type="number" name="system.level" value="{{actor.system.level}}" data-dtype="Number">
                </div>
                <div class="flexrow">
                    <div class="info fullgrey">
                        <label class="info">Current XP:</label>
                    </div>
                    <input class="info" type="number" name="system.xpValue" value="{{actor.system.xpValue}}" data-dtype="Number">
                </div>
                <div class="flexrow">
                    <div class="info fullgrey">
                        <label class="info">Training Points:</label>
                    </div>
                    <input class="info" type="number" name="system.trainingPoints" value="{{actor.system.trainingPoints}}" data-dtype="Number">
                </div>
                <div class="flexrow">
                    <div class="info fullgrey">
                        <label class="info">Hero Points:</label>
                    </div>
                    <input class="info" type="number" name="system.heroPoints" value="{{actor.system.heroPoints}}" data-dtype="Number">
                </div>
            </div>
            <div class="flexcol">
                <div class="flexrow info">
                    <div class="flexrow">
                        <div class="info fullgrey">
                            <label class="info">Powered:</label>
                        </div>
                        <input class="info" type="checkbox" name="system.empowered" {{checked actor.system.empowered}} data-dtype="Boolean">   
                    </div>
                    <div class="flexrow">
                        <div class="info fullgrey">
                            <label class="info">Auto calc:</label>
                        </div>
                        <input class="info" type="checkbox" name="system.autoCalc" {{checked actor.system.autoCalc}} data-dtype="Boolean">
                    </div>
                </div>
                <div class="flexrow info">
                    <div class="flexrow">
                        <div class="info fullgrey">
                            <label class="info">Placeholder:</label>
                        </div>
                        <input class="info" type="checkbox" name="" data-dtype="Boolean">
                    </div>
                    <div class="flexrow">
                        <div class="info fullgrey">
                            <label class="info">Modifiers:</label>
                        </div>
                        <input class="info" type="checkbox" name="system.addMods" {{checked actor.system.addMods}} data-dtype="Boolean">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="flexrow">
        <section class="border">
            <h3 class="sectionHeader">Section B: Powers</h3>
            <div style="height: 200px;">   
                {{editor actor.system.temporaryPowers.powerText target="system.temporaryPowers.powerText" button=true owner=owner editable=editable engine="prosemirror" collaborate=false}}    
            </div>
        </section>

        <section class="border">
            <h3 class="sectionHeader">Section C: Abilities</h3>
            <div style="height: 200px;">   
                {{editor actor.system.temporaryPowers.abilityText target="system.temporaryPowers.abilityText" button=true owner=owner editable=editable engine="prosemirror" collaborate=false}}    
            </div>
        </section>
    </div>

    <div class="flexrow">
        <div class="flexcol">
            <section class="border">
                <h3 class="sectionHeader">Section D: Skills</h3>
                    <div class="flexcol">
                        <div class="flexrow">
                            <div></div>
                            <div class="fullgrey">
                                <label class="info">Unpowered</label>
                            </div>
                            <div class="fullgrey">
                                <label class="info">Powered</label>
                            </div>
                        </div>
                        {{#each actor.system.skills as |skill key|}}
                        <div class="flexrow list">
                            <div class="info fullgrey">
                                <label class="info">{{skill.name}}:</label>
                            </div>
                            <input class="info" type="number" name="system.skills.{{key}}.unpowered" value="{{skill.unpowered}}" data-dtype="Number">
                            <input class="info" type="number" name="system.skills.{{key}}.powered" value="{{skill.powered}}" data-dtype="Number">
                        </div>
                        {{/each}}
                    </div>
            </section>
            <div class="flexrow">
                <section class="border">
                    <h3 class="sectionHeader">Section F: Durability</h3>
                        <div class="flexcol">
                            <div class="flexrow fullgrey">
                                <div class="info">
                                    <label class="info">Type</label>
                                </div>
                                <div class="info fullgrey">
                                    <label class="info">Resistant</label>
                                </div>
                                <div class="info fullgrey">
                                    <label class="info">Invulnerable</label>
                                </div>
                            </div>
                            {{#each actor.system.durability as |durability key|}}
                            <div class="flexrow list">
                                <div class="info fullgrey">
                                    <label class="info">{{durability.name}}:</label>
                                </div>
                                <div>
                                    <input class="info" type="checkbox" name="system.durability.{{key}}.resistant" {{checked durability.resistant}} data-dtype="Boolean">
                                </div>
                                <div>
                                    <input  class="info" type="checkbox" name="system.durability.{{key}}.invulnerable" {{checked durability.invulnerable}} data-dtype="Boolean">
                                </div>
                            </div>
                            {{/each}}
                        </div>
                </section>
            </div>
        </div>
        
        <div>
            <section class="border">
                <h3 class="sectionHeader">Section E: Combat Attributes</h3>
                <div class="flexcol">
                    <div class="flexrow">
                        <div></div>
                        <div>
                            <label class="info">Current</label>
                        </div>
                        <div>
                            <label class="info">Maximum</label>
                        </div>        
                    </div>

                    <div class="flexrow list">
                        <div class="info fullgrey">
                            <label class="info">Hit Points:</label>
                        </div>
                        <div class="info-right">
                            <input class="info" type="number" name="system.hitPoints.value" value="{{actor.system.hitPoints.value}}" data-dtype="Number">
                        </div>
                        <div class="flexrow info-right">
                            <input class="info" readonly="{{actor.system.autoCalc}}" type="number" name="system.hitPoints.max" value="{{actor.system.hitPoints.max}}" data-dtype="Number">
                            {{#if actor.system.addMods}}
                            <div class="iconBox">
                                <i class="fa fa-plus"></i>
                            </div>
                            <input class="info" type="number" name="system.hitPoints.mod" value="{{actor.system.hitPoints.mod}}" data-dtype="Number">
                            {{/if}}
                        </div>
                    </div>

                    <div class="flexrow list">
                        <div class="info fullgrey">
                            <label class="info">Stamina Points:</label>
                        </div>
                        <div class="info-right">
                            <input class="info" type="number" name="system.staminaPoints.value" value="{{actor.system.staminaPoints.value}}" data-dtype="Number">
                        </div>
                        <div class="flexrow info-right">
                            <input class="info" readonly="{{actor.system.autoCalc}}" type="number" name="system.staminaPoints.max" value="{{actor.system.staminaPoints.max}}" data-dtype="Number">
                            {{#if actor.system.addMods}}
                            <div class="iconBox">
                                <i class="fa fa-plus"></i>
                            </div>
                            <input class="info" type="number" name="system.staminaPoints.mod" value="{{actor.system.staminaPoints.mod}}" data-dtype="Number">
                            {{/if}}
                        </div>
                        
                    </div>

                    <div class="flexrow list">
                        <div class="info fullgrey">
                            <label class="info">Armor Points:</label>
                        </div>
                        <div class="info-right">
                            <input class="info" type="number" name="system.armorPoints.value" value="{{actor.system.armorPoints.value}}" data-dtype="Number">
                        </div>
                        <div class="flexrow info-right">
                            <input class="info" readonly="{{actor.system.autoCalc}}" type="number" name="system.armorPoints.max" value="{{actor.system.armorPoints.max}}" data-dtype="Number">
                            {{#if actor.system.addMods}}
                            <div class="iconBox">
                                <i class="fa fa-plus"></i>
                            </div>
                            <input class="info" type="number" name="system.armorPoints.mod" value="{{actor.system.armorPoints.mod}}" data-dtype="Number">
                            {{/if}}
                        </div>
                    </div>
                </div>

                <div class="flexcol">
                    <div class="flexrow list">
                        <div class="flexrow split-left">
                            <div class="info fullgrey" title="{{actor.system.attributes.initiative.description}}">
                                <label class="info">Initiative Score:</label>
                            </div>
                            <div class="flexrow">
                                <input class="info" readonly="{{actor.system.autoCalc}}" type="number" name="system.attributes.initiative.value" value="{{actor.system.attributes.initiative.value}}" data-dtype="Number">
                                {{#if actor.system.addMods}}
                                <input class="info" type="number" name="system.attributes.initiative.mod" value="{{actor.system.attributes.initiative.mod}}" data-dtype="Number">
                                {{/if}}
                            </div>
                        </div>
                        <div class="flexrow">
                            <div class="info fullgrey" title="{{actor.system.attributes.defense.description}}">
                                <label class="info">Defense Score:</label>
                            </div>
                            <div class="flexrow">
                                <input class="info" readonly="{{actor.system.autoCalc}}" type="number" name="system.attributes.defense.value" value="{{actor.system.attributes.defense.value}}" data-dtype="Number">
                                {{#if actor.system.addMods}}
                                <input class="info" type="number" name="system.attributes.defense.mod" value="{{actor.system.attributes.defense.mod}}" data-dtype="Number">
                                {{/if}}
                            </div>
                        </div>
                    </div>

                    <div class="flexrow list">
                        <div class="flexrow split-left">
                            <div class="info fullgrey" title="{{actor.system.attributes.accuracy.description}}">
                                <label class="info">Accuracy Bonus:</label>
                            </div>
                            <div class="flexrow">
                                <input class="info" readonly="{{actor.system.autoCalc}}" type="number" name="system.attributes.accuracy.value" value="{{actor.system.attributes.accuracy.value}}" data-dtype="Number">
                                {{#if actor.system.addMods}}
                                <input class="info" type="number" name="system.attributes.accuracy.mod" value="{{actor.system.attributes.accuracy.mod}}" data-dtype="Number">
                                {{/if}}
                            </div>
                        </div>
                        <div class="flexrow">
                            <div class="info fullgrey" title="{{actor.system.attributes.movement.description}}">
                                <label class="info">Movement Speed:</label>
                            </div>
                            <div class="flexrow">
                                <input class="info" readonly="{{actor.system.autoCalc}}" type="number" name="system.attributes.movement.value" value="{{actor.system.attributes.movement.value}}" data-dtype="Number">
                                {{#if actor.system.addMods}}
                                <input class="info" type="number" name="system.attributes.movement.mod" value="{{actor.system.attributes.movement.mod}}" data-dtype="Number">
                                {{/if}}
                            </div>
                        </div>
                    </div>

                    <div class="flexrow list">
                        <div class="flexrow split-left">
                            <div class="info fullgrey" title="{{actor.system.attributes.inspiration.description}}">
                                <label class="info">Inspiration Bonus:</label>
                            </div>
                            <div class="flexrow">
                                <input class="info" readonly="{{actor.system.autoCalc}}" type="number" name="system.attributes.inspiration.value" value="{{actor.system.attributes.inspiration.value}}" data-dtype="Number">
                                {{#if actor.system.addMods}}
                                <input class="info" type="number" name="system.attributes.inspiration.mod" value="{{actor.system.attributes.inspiration.mod}}" data-dtype="Number">
                                {{/if}}
                            </div>
                        </div>
                        <div class="flexrow">
                            <div class="info fullgrey" title="{{actor.system.attributes.handToHand.description}}">
                                <label class="info">Hand to Hand Damage:</label>
                            </div>
                            <div class="flexrow">
                                <input class="info" readonly="{{actor.system.autoCalc}}" type="text" name="system.attributes.handToHand.value" value="{{actor.system.attributes.handToHand.value}}" data-dtype="String">
                                {{#if actor.system.addMods}}
                                <input class="info" type="text" name="system.attributes.handToHand.mod" value="{{actor.system.attributes.handToHand.mod}}" data-dtype="String">
                                {{/if}}
                            </div>
                        </div>
                    </div>

                    <div class="flexrow list">
                        <div class="flexrow split-left">
                            <div class="info fullgrey" title="{{actor.system.attributes.recoveries.description}}">
                                <label class="info">Recoveries:</label>
                            </div>
                            <div class="flexrow">
                                <input class="info" readonly="{{actor.system.autoCalc}}" type="number" name="system.attributes.recoveries.value" value="{{actor.system.attributes.recoveries.value}}" data-dtype="Number">
                                {{#if actor.system.addMods}}
                                <input class="info" type="number" name="system.attributes.recoveries.mod" value="{{actor.system.attributes.recoveries.mod}}" data-dtype="Number">
                                {{/if}}
                            </div>
                        </div>
                        <div class="flexrow">
                            <div class="info fullgrey" title="{{actor.system.attributes.maxLift.description}}">
                                <label class="info">Maximum Lift:</label>
                            </div>
                            <div class="flexrow">
                                <input class="info" readonly="{{actor.system.autoCalc}}" type="number" name="system.attributes.maxLift.value" value="{{actor.system.attributes.maxLift.value}}" data-dtype="Number">
                                {{#if actor.system.addMods}}
                                <input class="info" type="number" name="system.attributes.maxLift.mod" value="{{actor.system.attributes.maxLift.mod}}" data-dtype="Number">
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flexcol list">
                    <div class="fullgrey info" style="margin-bottom: 5px; margin-left: 0px;">
                        <p style="margin-left: 10px;">On your turn in combat, you may perform 2 Actions from the list below:</p>
                    </div>
                    <div class="flexrow list">
                        <div class="split-left info">
                            <p>1. Activate a Power</p>
                        </div>
                        <div class="info">
                            <p>2. Attack</p>
                        </div>
                    </div>
                    <div class="flexrow list">
                        <div class="split-left info">
                            <p>3. Combat Maneuver</p>
                        </div>
                        <div class="info">
                            <p>4. Interact with an Ally or the Environment</p>                            
                        </div>

                    </div>
                    <div class="flexrow list">
                        <div class="split-left info">
                            <p>5. Interact with an Enemy</p>
                        </div>
                        <div class="info">
                            <p>6. Move</p>                            
                        </div>
                    </div>
                    <div class="flexrow list">
                        <div class="split-left info">
                            <p>7. Recovery (Costs 2 Actions)</p>
                        </div>
                        <div class="info">
                            <p>8. Skill Contest</p>                            
                        </div>
                    </div>
                    <div class="flexrow list">
                        <div class="split-left info">
                            <p>9. Stall an Action</p>
                        </div>
                        <div class="info">
                            <p>10. Improvise an Action</p>                            
                        </div>
                    </div>
                </div>
            </section>

            <section class="border">
                <h3 class="sectionHeader">Section G: Detailed Information</h3>
                <div class="flexrow">
                    <div class="flexcol">
                        <div class="flexrow">
                            <p>Code Name:</p>
                            <p>{{actor.name}}</p>
                        </div>
                        <div class="flexrow">
                            <p>Legal Name:</p>
                            <p>{{actor.system.legalName}}</p>
                        </div>
                        <div class="flexrow">
                            <p>Pronouns:</p>
                            <p>{{actor.system.pronouns}}</p>
                        </div>
                    </div>
                    <div class="flexcol">
                        <div class="flexrow">
                            <p>Age:</p>
                            <input type="text" name="system.age" value="{{actor.system.age}}" data-dtype="String">
                        </div>
                        <div class="flexrow">
                            <p>Height:</p>
                            <input type="text" name="system.height" value="{{actor.system.height}}" data-dtype="String">
                        </div>
                        <div class="flexrow">
                            <p>Weight:</p>
                            <input type="text" name="system.weight" value="{{actor.system.weight}}" data-dtype="String">
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <div class="flexrow">
        <section class="border">
            <h3 class="sectionHeader">Section H: Personality Traits</h3>
            <div class="flexrow">
                <p>Archtype:</p>
                <input type="text" name="system.archtype.name" value="{{actor.system.archtype.name}}" data-dtype="String">
            </div>
            <p>Strengths:</p>
            <div style="height: 150px;">   
                {{editor actor.system.archtype.strengths target="system.archtype.strengths" button=true owner=owner editable=editable engine="prosemirror" collaborate=false}}    
            </div>
            <p>Flaws:</p>
            <div style="height: 100px;">
                {{editor actor.system.archtype.flaws target="system.archtype.flaws" button=true owner=owner editable=editable engine="prosemirror" collaborate=false}}    
            </div>
        </section>

        <section class="border">
            <h3 class="sectionHeader">Section I: Power Details</h3>
            <p>Power Origins:</p>
            <div style="height: 100px;">   
                {{editor actor.system.powerDetails.origin target="system.powerDetails.origin" button=true owner=owner editable=editable engine="prosemirror" collaborate=false}}    
            </div>
            <p>Description:</p>
            <div style="height: 188px;">
                {{editor actor.system.powerDetails.description target="system.powerDetails.description" button=true owner=owner editable=editable engine="prosemirror" collaborate=false}}    
            </div>
        </section>
    </div>

    <div class="flexrow">
        <section class="border">
            <h3 class="sectionHeader">Section J: Secret Identity</h3>
            <p>Day Job:</p>
            <div style="height: 100px;">   
                {{editor actor.system.secretIdentity.dayJob target="system.secretIdentity.dayJob" button=true owner=owner editable=editable engine="prosemirror" collaborate=false}}    
            </div>
            <p>Risk of getting away:</p>
            <div style="height: 100px;">   
                {{editor actor.system.secretIdentity.risk target="system.secretIdentity.risk" button=true owner=owner editable=editable engine="prosemirror" collaborate=false}}    
            </div>
            <p>Financial Situation:</p>
            <div style="height: 100px;">
                {{editor actor.system.secretIdentity.finance target="system.secretIdentity.finance" button=true owner=owner editable=editable engine="prosemirror" collaborate=false}}    
            </div>
            <p>Living Situation:</p>
            <div style="height: 100px;">
                {{editor actor.system.secretIdentity.living target="system.secretIdentity.living" button=true owner=owner editable=editable engine="prosemirror" collaborate=false}}    
            </div>
        </section>

        <section class="border">
            <h3 class="sectionHeader">Section K: Picture on file</h3>
            <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" style="max-height: 512px;"/>
        </section>
    </div>

    <section class="border">
        <h3 class="sectionHeader">Section L: Background Information</h3>
        <div style="height: 300px;">   
            {{editor actor.system.backgroundInfo.description target="system.backgroundInfo.description" button=true owner=owner editable=editable engine="prosemirror" collaborate=false}}    
        </div>
    </section>
</form>

