<form class="actor-sheet {{cssClass}}" autocomplete="off">
    {{#if actor.system.showSettings}}
    <header class="sheet-header">
        <section class="border">
            <h3 class="sectionHeader">Section 0: Settings</h3>
            <div class="flexrow">
                <div class="flexrow">
                    <div class="info fullgrey">
                        <label class="info">Powered:</label>
                    </div>
                    <input class="info" type="checkbox" name="system.empowered" {{checked actor.system.empowered}} data-dtype="Boolean">   
                </div>

                <div class="flexrow">
                    <div class="info fullgrey">
                        <label class="info">NPC:</label>
                    </div>
                    <input class="info" type="checkbox" name="system.npc" {{checked actor.system.npc}} data-dtype="Boolean">
                </div>

                <div class="flexrow">
                    <div class="info fullgrey">
                        <label class="info">Auto calc:</label>
                    </div>
                    <input class="info" type="checkbox" name="system.autoCalc" {{checked actor.system.autoCalc}} data-dtype="Boolean">
                </div>

                <div class="flexrow">
                    <div class="info fullgrey">
                        <label class="info">Modifiers:</label>
                    </div>
                    <input class="info" type="checkbox" name="system.addMods" {{checked actor.system.addMods}} data-dtype="Boolean">
                </div>

                <div class="flexrow">
                    <div class="info fullgrey">
                        <label class="info">Auto Insp:</label>
                    </div>
                    <input class="info" type="checkbox" name="system.autoInsp" {{checked actor.system.autoInsp}} data-dtype="Boolean">
                </div>
            </div>
        </section>

    </header>
    {{/if}}
    <ul class="tabs">
        <li class="tab-link current" data-tab="tab-1">General Information</li>
        <li class="tab-link" data-tab="tab-2">Details</li>
        <li class="tab-link" data-tab="tab-3">Notes</li>
      </ul>
      
    <div id="tab-1" class="tab-content current">
    <section class="border">
        <h3 class="sectionHeader">Section A: General Information</h3>
        <div class="flexrow">
            <div class="flexcol">
                <div class="flexrow">
                    <div class="info fullgrey">
                        <label class="info">Code Name:</label>
                    </div>
                    <input class="info" type="text" name="name" value="{{actor.name}}" data-dtype="String">
                </div>
                <div class="flexrow">
                    <div class="info fullgrey">
                        <label class="info">Legal Name:</label>
                    </div>
                    <input class="info" type="text" name="system.legalName" value="{{actor.system.legalName}}" data-dtype="String">
                </div>
                <div class="flexrow">
                    <div class="info fullgrey">
                        <label class="info">Pronouns:</label>
                    </div>
                    <input class="info" type="text" name="system.pronouns" value="{{actor.system.pronouns}}" data-dtype="String">
                </div>
                <div class="flexrow">
                    <div class="info fullgrey">
                        <label class="info">Power Setting:</label>
                    </div>
                    {{#with actor.system.powerSetting as |powerSetting|}}
                    <select class="info" name="system.powerSetting.value" data-dtype="Number">
                        {{selectOptions powerSetting.options selected=powerSetting.value}}                        
                    </select>
                    {{/with}}
                </div>
            </div>
            <div class="flexcol">
                <div class="flexrow">
                    <div class="info fullgrey">
                        <label class="info">Level:</label>
                    </div>
                    <input class="info" type="number" name="system.level" value="{{actor.system.level}}" data-dtype="Number">
                </div>
                <div class="flexrow">
                    <div class="info fullgrey">
                        <label class="info">Current XP:</label>
                    </div>
                    <input class="info" type="number" name="system.xpValue" value="{{actor.system.xpValue}}" data-dtype="Number">
                </div>
                <div class="flexrow">
                    <div class="info fullgrey">
                        <label class="info">Training Points:</label>
                    </div>
                    <input class="info" type="number" name="system.trainingPoints" value="{{actor.system.trainingPoints}}" data-dtype="Number">
                </div>
                <div class="flexrow">
                    <div class="info fullgrey">
                        <label class="info">Hero Points:</label>
                    </div>
                    <input class="info" type="number" name="system.heroPoints" value="{{actor.system.heroPoints}}" data-dtype="Number">
                </div>
            </div>
            <div class="flexcol">
                <div class="flexrow">
                    <div class="info fullgrey">
                        <label class="info">Show settings:</label>
                    </div>
                    <input class="info" type="checkbox" name="system.showSettings" {{checked actor.system.showSettings}} data-dtype="Boolean">   
                </div>
                <div class="flexrow">
                    <div class="info fullgrey">
                        <label class="info">Age:</label>
                    </div>
                    <input class="info" type="text" name="system.age" value="{{actor.system.age}}" data-dtype="String">
                </div>
                <div class="flexrow">
                    <div class="info fullgrey">
                        <label class="info">Height:</label>
                    </div>
                    <input class="info" type="text" name="system.height" value="{{actor.system.height}}" data-dtype="String">
                </div>
                <div class="flexrow">
                    <div class="info fullgrey">
                        <label class="info">Weight:</label>
                    </div>
                    <input class="info" type="text" name="system.weight" value="{{actor.system.weight}}" data-dtype="String">
                </div>
            </div>
        </div>
    </section>

    <div class="flexrow">
        <section class="border">
            <h3 class="sectionHeader">Section B: Powers</h3>
            <div style="height: 200px;">   
                {{editor actor.system.temporaryPowers.powerText target="system.temporaryPowers.powerText" button=true owner=owner editable=editable engine="prosemirror" collaborate=false}}    
            </div>
        </section>

        <section class="border">
            <h3 class="sectionHeader">Section C: Abilities</h3>
            <div style="height: 200px;">   
                {{editor actor.system.temporaryPowers.abilityText target="system.temporaryPowers.abilityText" button=true owner=owner editable=editable engine="prosemirror" collaborate=false}}    
            </div>
        </section>
    </div>
    <div class="flexrow">
        <section class="border">
          <h3 class="sectionHeader">Section C, Subsection A: Attacks and weaponry</h3>
          
          <!-- Container for dynamically added attacks -->
          <div class="attacks-container">
            {{#each data.items as |item id|}}
                {{#with item.system as |weapon|}}
                {{#with ../../actor.system as |actor|}}
                {{#if weapon.weapon}}
                <li class="item flexrow list attack-row" data-item-id="{{item._id}}">
                    <div class="flexrow fullgrey">
                        <div></div>
                            <a class="info rollable" data-roll="1d20 + {{actor.attributes.accuracy.max}}[Accuracy] + {{weapon.attackBonus}}[Attack bonus] + {{actor.totalInsp}}[Inspiration]" data-label="Attack">Attack</a>
                        <div></div>
                    </div>

                    {{#if weapon.handToHand}}
                    <div class="flexrow fullgrey">
                        <div></div>
                        <a class="info rollable" data-roll="{{actor.attributes.handToHand.max}}[Hand to Hand] + {{weapon.formula}}" data-label="{{item.name}}: {{weapon.type}} damage"> Damage</a>
                        <div></div>
                    </div>
                    {{else}}
                    <div class="flexrow fullgrey">
                        <div></div>
                        <a class="info rollable" data-roll="{{weapon.formula}}" data-label="{{item.name}}: {{weapon.type}} damage"> Damage</a>
                        <div></div>
                    </div>
                    {{/if}}

                    <input class="info" type="text" name="{{item.name}}" value="{{item.name}}" data-dtype="String" placeholder="Name" disabled="true">
                    <input class="info" type="text" name="{{weapon.attackBonus}}" value="{{weapon.attackBonus}}" data-dtype="String" placeholder="Bonus" disabled="true">
                    <input class="info" type="text" name="{{weapon.formula}}" value="{{weapon.formula}}" data-dtype="String" placeholder="Damage dice" disabled="true">
                    <input class="info" type="text" name="{{weapon.type}}" value="{{weapon.type}}" data-dtype="String" placeholder="Damage type" disabled="true">
                    <div class="flexrow split-left">
                        <div></div>
                        <input class="info" type="number" name="{{weapon.cost}}" value="{{weapon.cost}}" data-dtype="String" placeholder="SP Cost" disabled="true">
                        <p class="info">SP</p>
                        <div></div>
                    </div>
                
                    <div class="item-controls flexrow">
                        <div></div>
                        <a class="item-control" title="Edit weapon" data-action="edit"><i class="fas fa-edit"></i></a>
                        <div></div>
                        <a class="item-control" title="Delete weapon" data-action="delete"><i class="fas fa-trash"></i></a>
                        <div></div>
                    </div>
                </li>
                {{/if}}
                {{/with}}
                {{/with}}
            {{/each}}
          </div>
          <a class="item-control" title="CreateWeapon" data-action="create-weapon"><i class="fas fa-plus"></i> Create weapon or attack</a>
        </section>
      </div>
      

    <div class="flexrow">
        <div class="flexcol">
            <section class="border">
                <h3 class="sectionHeader">Section D: Skills</h3>
                    <div class="flexcol">
                        <div class="flexrow">
                            <div></div>
                            <div class="fullgrey">
                                <label class="info">Unpowered</label>
                            </div>
                            <div class="fullgrey">
                                <label class="info">Powered</label>
                            </div>
                            {{#if actor.system.addMods}}
                                <div class="fullgrey">
                                    <label class="info">Modifiers</label>
                                </div>
                            {{/if}}
                        </div>
                        
                        {{#if actor.system.empowered}}
                        {{#each actor.system.skills as |skill key|}}
                        <div class="flexrow list">
                            <div class="info fullgrey">
                                <a class="info rollable" data-roll="1d20[Test]+@skills.{{key}}.powered + {{../actor.system.totalInsp}}[Inspiration] +@skills.{{key}}.modifer[modifer]" data-label="{{skill.name}}">{{skill.name}}</a>
                            </div>
                            <input class="info" type="number" name="system.skills.{{key}}.unpowered" value="{{skill.unpowered}}" data-dtype="Number">
                            <input class="info" type="number" name="system.skills.{{key}}.powered" value="{{skill.powered}}" data-dtype="Number">
                            {{#if ../actor.system.addMods}}
                                <input class="info" type="number" name="system.skills.{{key}}.modifer" value="{{skill.modifer}}" data-dtype="Number">
                            {{/if}}
                        </div>
                        {{/each}}
                        {{/if}}

                        {{#unless actor.system.empowered}}
                        {{#each actor.system.skills as |skill key|}}
                        <div class="flexrow list">
                            <div class="info fullgrey">
                                <a class="info rollable" data-roll="1d20+@skills.{{key}}.unpowered + {{../actor.system.totalInsp}}[Inspiration] +@skills.{{key}}.modifer[modifer]" data-label="{{skill.name}}">{{skill.name}}</a>
                            </div>
                            <input class="info" type="number" name="system.skills.{{key}}.unpowered" value="{{skill.unpowered}}" data-dtype="Number">
                            <input class="info" type="number" name="system.skills.{{key}}.powered" value="{{skill.powered}}" data-dtype="Number">
                            {{#if ../actor.system.addMods}}
                                <input class="info" type="number" name="system.skills.{{key}}.modifer" value="{{skill.modifer}}" data-dtype="Number">
                            {{/if}}
                        </div>
                        {{/each}}
                        {{/unless}}
                    </div>
            </section>
            <div class="flexrow">
                <section class="border">
                    <h3 class="sectionHeader">Section F: Durability</h3>
                        <div class="flexcol">
                            <div class="flexrow fullgrey">
                                <div class="info">
                                    <label class="info">Type</label>
                                </div>
                                <div class="info fullgrey">
                                    <label class="info">Resistant</label>
                                </div>
                                <div class="info fullgrey">
                                    <label class="info">Invulnerable</label>
                                </div>
                            </div>
                            {{#each actor.system.durability as |durability key|}}
                            <div class="flexrow list">
                                <div class="info fullgrey">
                                    <label class="info">{{durability.name}}:</label>
                                </div>
                                <div>
                                    <input class="info" type="checkbox" name="system.durability.{{key}}.resistant" {{checked durability.resistant}} data-dtype="Boolean">
                                </div>
                                <div>
                                    <input  class="info" type="checkbox" name="system.durability.{{key}}.invulnerable" {{checked durability.invulnerable}} data-dtype="Boolean">
                                </div>
                            </div>
                            {{/each}}
                        </div>
                </section>
            </div>
        </div>
        
        <div>
            <section class="border">
                <h3 class="sectionHeader">Section E: Combat Attributes</h3>
                <div class="flexcol">
                    <div class="flexrow">
                        <div></div>
                        <div>
                            <label class="info">Current</label>
                        </div>
                        <div>
                            <label class="info">Maximum</label>
                        </div>        
                    </div>

                    <div class="flexrow list">
                        <div class="info fullgrey">
                            <label class="info">Hit Points:</label>
                        </div>
                        <div class="info-right">
                            <input class="info" type="number" name="system.hitPoints.value" value="{{actor.system.hitPoints.value}}" data-dtype="Number">
                        </div>
                        <div class="flexrow info-right">
                            <input class="info" readonly="{{actor.system.autoCalc}}" type="number" name="system.hitPoints.max" value="{{actor.system.hitPoints.max}}" data-dtype="Number">
                            {{#if actor.system.addMods}}
                            <div class="iconBox">
                                <i class="fa fa-plus"></i>
                            </div>
                            <input class="info" type="number" name="system.hitPoints.mod" value="{{actor.system.hitPoints.mod}}" data-dtype="Number">
                            {{/if}}
                        </div>
                    </div>

                    <div class="flexrow list">
                        <div class="info fullgrey">
                            <label class="info">Stamina Points:</label>
                        </div>
                        <div class="info-right">
                            <input class="info" type="number" name="system.staminaPoints.value" value="{{actor.system.staminaPoints.value}}" data-dtype="Number">
                        </div>
                        <div class="flexrow info-right">
                            <input class="info" readonly="{{actor.system.autoCalc}}" type="number" name="system.staminaPoints.max" value="{{actor.system.staminaPoints.max}}" data-dtype="Number">
                            {{#if actor.system.addMods}}
                            <div class="iconBox">
                                <i class="fa fa-plus"></i>
                            </div>
                            <input class="info" type="number" name="system.staminaPoints.mod" value="{{actor.system.staminaPoints.mod}}" data-dtype="Number">
                            {{/if}}
                        </div>
                        
                    </div>

                    <div class="flexrow list">
                        <div class="info fullgrey">
                            <label class="info">Armor Points:</label>
                        </div>
                        <div class="info-right">
                            <input class="info" type="number" name="system.armorPoints.value" value="{{actor.system.armorPoints.value}}" data-dtype="Number">
                        </div>
                        <div class="flexrow info-right">
                            <input class="info" readonly="{{actor.system.autoCalc}}" type="number" name="system.armorPoints.max" value="{{actor.system.armorPoints.max}}" data-dtype="Number">
                            {{#if actor.system.addMods}}
                            <div class="iconBox">
                                <i class="fa fa-plus"></i>
                            </div>
                            <input class="info" type="number" name="system.armorPoints.mod" value="{{actor.system.armorPoints.mod}}" data-dtype="Number">
                            {{/if}}
                        </div>
                    </div>
                </div>

                <div class="flexcol">
                    <div class="flexrow list">
                        <div class="flexrow split-left">
                            <div class="info fullgrey" title="{{actor.system.attributes.initiative.description}}">
                                <a class="info rollInitiative" data-action="test" data-label="Initiative">Initiative:</a>
                            </div>
                            <div class="flexrow">
                                <input class="info" readonly="{{actor.system.autoCalc}}" type="number" name="system.attributes.initiative.max" value="{{actor.system.attributes.initiative.max}}" data-dtype="Number">
                                {{#if actor.system.addMods}}
                                <input class="info" type="number" name="system.attributes.initiative.mod" value="{{actor.system.attributes.initiative.mod}}" data-dtype="Number">
                                {{/if}}
                            </div>
                        </div>
                        <div class="flexrow">
                            <div class="info fullgrey" title="{{actor.system.attributes.defense.description}}">
                                <label class="info">Defense Score:</label>
                            </div>
                            <div class="flexrow">
                                <input class="info" readonly="{{actor.system.autoCalc}}" type="number" name="system.attributes.defense.max" value="{{actor.system.attributes.defense.max}}" data-dtype="Number">
                                {{#if actor.system.addMods}}
                                <input class="info" type="number" name="system.attributes.defense.mod" value="{{actor.system.attributes.defense.mod}}" data-dtype="Number">
                                {{/if}}
                            </div>
                        </div>
                    </div>

                    <div class="flexrow list">
                        <div class="flexrow split-left">
                            <div class="info fullgrey" title="{{actor.system.attributes.accuracy.description}}">
                                <a class="info rollable" data-roll="d20+@attributes.accuracy.max" data-label="Accuracy">Accuracy Bonus:</a>
                            </div>
                            <div class="flexrow">
                                <input class="info" readonly="{{actor.system.autoCalc}}" type="number" name="system.attributes.accuracy.max" value="{{actor.system.attributes.accuracy.max}}" data-dtype="Number">
                                {{#if actor.system.addMods}}
                                <input class="info" type="number" name="system.attributes.accuracy.mod" value="{{actor.system.attributes.accuracy.mod}}" data-dtype="Number">
                                {{/if}}
                            </div>
                        </div>
                        <div class="flexrow">
                            <div class="info fullgrey" title="{{actor.system.attributes.movement.description}}">
                                <label class="info">Movement Speed:</label>
                            </div>
                            <div class="flexrow">
                                <input class="info" readonly="{{actor.system.autoCalc}}" type="number" name="system.attributes.movement.max" value="{{actor.system.attributes.movement.max}}" data-dtype="Number">
                                {{#if actor.system.addMods}}
                                <input class="info" type="number" name="system.attributes.movement.mod" value="{{actor.system.attributes.movement.mod}}" data-dtype="Number">
                                {{/if}}
                            </div>
                        </div>
                    </div>

                    <div class="flexrow list">
                        <div class="flexrow split-left">
                            <div class="info fullgrey" title="{{actor.system.attributes.inspiration.description}}">
                                <label class="info">Inspiration Bonus:</label>
                            </div>
                            <div class="flexrow">
                                <input class="info" readonly="{{actor.system.autoCalc}}" type="number" name="system.attributes.inspiration.max" value="{{actor.system.attributes.inspiration.max}}" data-dtype="Number">
                                {{#if actor.system.addMods}}
                                <input class="info" type="number" name="system.attributes.inspiration.mod" value="{{actor.system.attributes.inspiration.mod}}" data-dtype="Number">
                                {{/if}}
                            </div>
                        </div>
                        <div class="flexrow">
                            <div class="info fullgrey" title="{{actor.system.attributes.handToHand.description}}">
                                <a class="info rollable" data-roll="@attributes.handToHand.max" data-label="Hand to Hand">Hand to Hand Damage:</a>
                            </div>
                            <div class="flexrow">
                                <input class="info" readonly="{{actor.system.autoCalc}}" type="text" name="system.attributes.handToHand.max" value="{{actor.system.attributes.handToHand.max}}" data-dtype="String">
                                {{#if actor.system.addMods}}
                                <input class="info" type="text" name="system.attributes.handToHand.mod" value="{{actor.system.attributes.handToHand.mod}}" data-dtype="String">
                                {{/if}}
                            </div>
                        </div>
                    </div>

                    <div class="flexrow list">
                        <div class="flexrow split-left">
                            <div class="info fullgrey" title="{{actor.system.attributes.recoveries.description}}">
                                <a class="info rollable" data-roll="d10+@level" data-label="Recovery">Recoveries:</a>
                            </div>
                            <div class="flexrow">
                                <div class="flexrow">
                                    <input class="info" type="number" name="system.attributes.recoveries.value" value="{{actor.system.attributes.recoveries.value}}" data-dtype="Number">
                                </div>
                                <div class="flexrow">
                                    <input class="info" readonly="{{actor.system.autoCalc}}" type="number" name="system.attributes.recoveries.max" value="{{actor.system.attributes.recoveries.max}}" data-dtype="Number">
                                </div>
                                {{#if actor.system.addMods}}
                                <input class="info" type="number" name="system.attributes.recoveries.mod" value="{{actor.system.attributes.recoveries.mod}}" data-dtype="Number">
                                {{/if}}
                            </div>
                        </div>
                        <div class="flexrow">
                            <div class="info fullgrey" title="{{actor.system.attributes.maxLift.description}}">
                                <label class="info">Maximum Lift:</label>
                            </div>
                            <div class="flexrow">
                                <input class="info" readonly="{{actor.system.autoCalc}}" type="number" name="system.attributes.maxLift.max" value="{{actor.system.attributes.maxLift.max}}" data-dtype="Number">
                                {{#if actor.system.addMods}}
                                <input class="info" type="number" name="system.attributes.maxLift.mod" value="{{actor.system.attributes.maxLift.mod}}" data-dtype="Number">
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flexcol list">
                    <div class="fullgrey info" style="margin-bottom: 5px; margin-left: 0px;">
                        <p style="margin-left: 10px;">On your turn in combat, you may perform 2 Actions from the list below:</p>
                    </div>
                    <div class="flexrow list">
                        <div class="split-left info">
                            <p>1. Activate a Power</p>
                        </div>
                        <div class="info">
                            <p>2. Attack</p>
                        </div>
                    </div>
                    <div class="flexrow list">
                        <div class="split-left info">
                            <p>3. Combat Maneuver</p>
                        </div>
                        <div class="info">
                            <p>4. Interact with an Ally or the Environment</p>                            
                        </div>

                    </div>
                    <div class="flexrow list">
                        <div class="split-left info">
                            <p>5. Interact with an Enemy</p>
                        </div>
                        <div class="info">
                            <p>6. Move</p>                            
                        </div>
                    </div>
                    <div class="flexrow list">
                        <div class="split-left info">
                            <p>7. Recovery (Costs 2 Actions)</p>
                        </div>
                        <div class="info">
                            <p>8. Skill Contest</p>                            
                        </div>
                    </div>
                    <div class="flexrow list">
                        <div class="split-left info">
                            <p>9. Stall an Action</p>
                        </div>
                        <div class="info">
                            <p>10. Improvise an Action</p>                            
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    </div> <!-- Close the first tab content -->

    <div id="tab-2" class="tab-content">
    <div class="flexrow">
        <section class="border">
            <h3 class="sectionHeader">Section G: Personality Traits</h3>
            <div class="flexrow">
                <p>Archtype:</p>
                <input type="text" name="system.archtype.name" value="{{actor.system.archtype.name}}" data-dtype="String">
            </div>
            <p>Strengths:</p>
            <div style="height: 150px;">   
                {{editor actor.system.archtype.strengths target="system.archtype.strengths" button=true owner=owner editable=editable engine="prosemirror" collaborate=false}}    
            </div>
            <p>Flaws:</p>
            <div style="height: 150px;">
                {{editor actor.system.archtype.flaws target="system.archtype.flaws" button=true owner=owner editable=editable engine="prosemirror" collaborate=false}}    
            </div>
        </section>

        <section class="border">
            <h3 class="sectionHeader">Section H: Power Details</h3>
            <p>Power Origins:</p>
            <div style="height: 150px;">   
                {{editor actor.system.powerDetails.origin target="system.powerDetails.origin" button=true owner=owner editable=editable engine="prosemirror" collaborate=false}}    
            </div>
            <p>Description:</p>
            <div style="height: 188px;">
                {{editor actor.system.powerDetails.description target="system.powerDetails.description" button=true owner=owner editable=editable engine="prosemirror" collaborate=false}}    
            </div>
        </section>
    </div>

    <div class="flexrow">
        <section class="border">
            <h3 class="sectionHeader">Section I: Secret Identity</h3>
            <p>Day Job:</p>
            <div style="height: 150px;">   
                {{editor actor.system.secretIdentity.dayJob target="system.secretIdentity.dayJob" button=true owner=owner editable=editable engine="prosemirror" collaborate=false}}    
            </div>
            <p>Risk of getting away:</p>
            <div style="height: 150px;">   
                {{editor actor.system.secretIdentity.risk target="system.secretIdentity.risk" button=true owner=owner editable=editable engine="prosemirror" collaborate=false}}    
            </div>
            <p>Financial Situation:</p>
            <div style="height: 150px;">
                {{editor actor.system.secretIdentity.finance target="system.secretIdentity.finance" button=true owner=owner editable=editable engine="prosemirror" collaborate=false}}    
            </div>
            <p>Living Situation:</p>
            <div style="height: 150px;">
                {{editor actor.system.secretIdentity.living target="system.secretIdentity.living" button=true owner=owner editable=editable engine="prosemirror" collaborate=false}}    
            </div>
        </section>

        <section class="border">
            <h3 class="sectionHeader">Section J: Picture on file</h3>
            <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" style="max-height: 512px;"/>
        </section>
    </div>

    <section class="border">
        <h3 class="sectionHeader">Section K: Background Information</h3>
        <div style="height: 300px;">   
            {{editor actor.system.backgroundInfo.description target="system.backgroundInfo.description" button=true owner=owner editable=editable engine="prosemirror" collaborate=false}}    
        </div>
    </section>
    </div>

    <div id="tab-3" class="tab-content">
        <div class="flexrow">
            <section class="border">
                <h3 class="sectionHeader">Section L: Team</h3>
                {{#each data.items as |item id|}}
                    {{#with item.system as |teammate|}}
                    {{#if teammate.teammate}}
                    <li class="item list flexrow attack-row" data-item-id="{{item._id}}">

                        <input class="info" type="text" name="{{item.name}}" value="{{item.name}}" data-dtype="String" placeholder="Name" disabled="true">

                        <div class="flexrow">
                            <div class="split-left info flexrow">
                                <input class="info" type="text" name="{{teammate.inspiration}}" value="{{teammate.inspiration}}" data-dtype="String" placeholder="Inspiration" disabled="true">
    
                                <input class="info" type="checkbox" name="{{teammate.inTeam}}" {{checked teammate.inTeam}} data-dtype="Boolean" disabled="true">
                            </div>
    
                            <div class="item-controls flexrow">
                                <div></div>
                                <a class="item-control" title="Edit Teammate" data-action="edit"><i class="fas fa-edit"></i></a>
                                <div></div>
                                <a class="item-control" title="Delete Teammate" data-action="delete"><i class="fas fa-trash"></i></a>
                                <div></div>
                            </div>
                        </div>
                    </li>
                    {{/if}}
                    {{/with}}
                {{/each}}
                <a class="item-control" title="CreateTeammate" data-action="create-teammate"><i class="fas fa-plus"></i> Create teammate</a>
            </section>
            <section class="border">
                <h3 class="sectionHeader">Section M: Goals & Ambitions</h3>
                <div style="height: 200px;">   
                    {{editor actor.system.goals.description target="system.goals.description" button=true owner=owner editable=editable engine="prosemirror" collaborate=false}}    
                </div>
            </section>
        </div>
        <section class="border">
            <h3 class="sectionHeader">Section N: Personal Notes</h3>
            <div style="height: 550px;">   
                {{editor actor.system.notes.description target="system.notes.description" button=true owner=owner editable=editable engine="prosemirror" collaborate=false}}    
            </div>
        </section>
    </div>
</form>